.oop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.oop-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 100px 0 50px 0;
    max-width: 1100px;
}

/* Section */

.oop-section {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.oop-section p {
    text-align: left;
}

.cabin-wrapper {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 40px;
    margin-top: 10px;
}

.cabin-wrapper-img {
    border-radius: 8px;
    height: 200px;
    width: 330px;
}

.cabin-wrapper-title {
    margin: 0;
    font-size: 22px;
}

.cabin-wrapper-price {
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 4px;
    color: #007B55;
}

.oop-form-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.oop-form-data p {
    margin: 3px 0;
    text-align: left;
    width: 100%;
}

.order-btn {
    width: 300px;
    padding: 8px 20px;
    margin-top: 10px;
    height: 34px;
    background-color: #ffffff;
    color: color;
    border: rgba(0, 0, 0, .1) solid 1px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.order-btn svg {
    width: 16px;
    height: 16px;
}

.order-btn:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

@media screen and (max-width: 900px) {
    .oop-content {
        width: 90%;
    }
}